<div class="col-md-4 mb-3 text-center align-items-stretch">
  <div class="card mb-3 h-100">
    <h5 class="card-header"><%= badge.name %></h5>
    <div class="card-body">
      <p class="card-title"><%= image_tag badge.image_url, size: '160' %></p>
      <p class="card-text"><%= badge.description %></p>
    </div>
  </div>
</div>
