<h1 class="text-center mb-4"><%= t('badges.available_badges') %></h1>
<div class="row">
  <%= render @badges %>
</div>

<h1 class="text-center mb-4"><%= t('badges.earned_badges') %></h1>
<div class="row">
  <%= render @earned_badges %>
</div>
