<div class="row justify-content-center">
  <div class="col col-md-6 text-center">
    <h2><%= t('.header', test_title: @test_passage.test.title) %></h2>

    <% if @test_passage.result_success? %>
      <p class="text-success">
    <% else %>
      <p class="text-danger">
    <% end %>

    <% if @test_passage.timed_out? %>
      <%= t('.timed_out') %><br>
    <% end %>

    <%= t('.test_result', status: test_result_status(@test_passage), percent: @test_passage.calc_result_percent) %>
    </p>

    <%= link_to t('.tests_index'), tests_path %>
  </div>
</div>
