<h1><%= t('.header', test_title: @test_passage.test.title) %></h1>

<% if @test_passage.result_success? %>
  <p class="pass-result">
<% else %>
  <p class="fail-result">
<% end %>

<%= t('.test_result', status: test_result_status(@test_passage), percent: @test_passage.result_percent) %>
</p>

<%= link_to t('.tests_index'), tests_path %>
