html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 140px;
}
.header {
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
}
@include media-breakpoint-up(md) {
  .footer {
    height: 90px;
  }
  body {
    margin-bottom: 120px;
  }
}
.footer dd {
  margin-bottom: 0;
  font-size: small;
}

.footer dt {
  font-size: small;
}

.footer dl {
  padding-bottom: 0;
  margin-bottom: 0;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.inner-addon {
  position: relative;
}

.inner-addon .octicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.right-addon .octicon {
  right: 0px;
}

.right-addon input {
  padding-right: 30px;
}

.progress-container {
  height: 26px;
}
