$a-tags: 'a, a:active, a:hover, a:visited';

.header {
  font-size: 36px;
  font-weight: bold;

  #{$a-tags} {
    text-decoration: none;
    color: #000;
    background-color: transparent;
  }
}

.nav {
  font-size: 16px;
  text-align: right;
}
